[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wagtail = "==2.8"
Django = "==2.2.10"
wagtail-django-recaptcha = "==1.0"
django-debug-toolbar = "==2.0a1"
django-extensions = "==2.1.5"
ipython = "==7.3.0"
black = "==19.3b0"
flake8 = "*"
isort = "*"
django-allauth = "==0.40.0"

[dev-packages]
"flake8" = "*"

[requires]
python_version = "3.7"
