{% load wagtailcore_tags %}

<div class="container mb-sm-5 mt-sm-5">
    <div class="row">
        <div class="col-md-5 offset-md-1 col-sm-12">
            <h1>{{ self.title }}</h1>
            {{ self.text|richtext }}

            {% if self.button_page %}
                <a href="{{ self.button_page.url }}">{{ self.button_text }}</a>
            {% elif self.button_url %}
                <a href="{{ self.button_url }}">{{ self.button_text }}</a>
            {% endif %}
        </div>
    </div>
</div>