{% extends "base.html" %}

{% load wagtailimages_tags wagtailcore_tags %}

{% block content %}
    {% image self.blog_image fill-1200x300 as banner %}
    <img src="{{ banner.url }}" alt="{{ banner.alt }}" style='width: 100%; height: auto;'>

    <div class="container mt-5 mb-5">
        <div class="text-center">
            <h1>{{ self.custom_title }}</h1>
            <div class="d-flex justify-content-center">
                {% for iter in self.blog_authors.all %}
                {% image iter.author.image fill-50x50 as img %}
                <div>
                    <div>
                        <img src="{{ img.url }}" class="rounded-circle" alt="{{ iter.author.name }}">
                    </div>
                    {% if iter.author.website %}
                        <a href="{{ iter.author.website }}">
                            {{ iter.author.name }}
                        </a>
                    {% else %}
                        {{ iter.author.name }}
                    {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                {% for block in self.content %}
                    {% include_block block %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}